@font-face {
  font-family: "inder-regular";
  src: url("client/public/fonts/Inder-Regular.ttf");
}

@font-face {
  font-family: "montserrat-alternates";
  src: url("client/public/fonts/MontserratAlternates-Regular.ttf");
}

.homeMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: medium;
  font-family: "inder-regular";
}

.imgContainer {
  display: flex;
  flex-wrap: wrap;
}

.imgContainer img {
  max-width: 80vw;
  margin: 1rem 0;
}

.homePageTitle {
  padding: 0 1rem;
  color: #1d3557;
  font-family: "inder-regular";
  text-align: center;
}

@media screen and (min-width: 761px) {
  .imgContainer img {
    max-width: 80vw;
    margin: 1rem 0.5rem;
  }

  .imgContainer {
    justify-content: center;
  }
}

.homePageTitle {
  padding: 0 1rem;
  color: #1d3557;
  font-family: "inder-regular";
  text-align: center;
}
