@font-face {
  font-family: "inder-regular";
  src: url("assets/fonts/Inder-Regular.ttf");
}

@font-face {
  font-family: "montserrat-alternates";
  src: url("assets/fonts/MontserratAlternates-Regular.ttf");
}

.catalogMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: medium;
}

.imgContainer {
  display: flex;
  flex-wrap: wrap;
}

.imgContainer img {
  max-width: 100vw;
  margin: 1rem 0;
}

@media screen and (min-width: 761px) {
  .imgContainer img {
    max-width: 30vw;
    margin: 1rem 0.5rem;
  }

  .imgContainer {
    justify-content: center;
  }
}
