:root {
  --main-color: #f7ede2;
  --second-color: #1d3557;
}
.navbarList {
  background-color: var(--main-color);
  list-style: none;
  width: 0;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: -100vw;
  bottom: 0;
  height: 100%;
  padding: 2rem;
  visibility: hidden;
  transition: all 0.7s ease-out;
}
.menu.active .navbarList {
  right: 0;
  width: 100vw;
  visibility: visible;
}
.navbarLink {
  display: block;
  padding: 1.5rem;
  font-size: 5vw;
  color: var(--second-color);
}
.burgerMenu {
  display: block;
  position: fixed;
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
}
.burgerLine,
.burgerLine::before,
.burgerLine::after {
  display: block;
  width: 40px;
  height: 3px;
  position: relative;
  border-radius: 3px;
  background-color: var(--second-color);
}
.burgerLine::before,
.burgerLine::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.9s ease-in-out;
}
.burgerLine::before {
  transform: translateY(-12px);
}
.burgerLine::after {
  transform: translateY(12px);
}
.menu.active .burgerLine::before {
  transform: rotate(135deg);
}
.menu.active .burgerLine::after {
  transform: rotate(-135deg);
}
.menu.active .burgerLine {
  width: 0;
  background: transparent;
  transition: 0.4s;
}
.menu.inactive .burgerLine {
  width: 40px;
  transition: 0.4s;
}
@media screen and (min-width: 761px) {
  .navbarList {
    flex-direction: row;
  }
  .navbarLink {
    padding: 0 1rem;
    font-size: 1.5rem;
  }
  .burgerMenu {
    display: none;
  }
}
