.Logo {
  display: flex;
  height: 8em;
  margin: 0;
  border: none;
  background-color: transparent;
}

.logoImage {
  height: 8em;
  margin: 0;
}

@media screen and (min-width: 761px) {
  .Logo {
    height: 13em;
  }

  .Logo:hover {
    cursor: pointer;
  }

  .logoImage {
    height: 13em;
  }
}
