* {
  box-sizing: border-box;
}
@font-face {
  font-family: "montserrat-alternates";
  src: url("assets\fonts\MontserratAlternates-Regular.ttf");
}

.Footer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: transparent;
  height: 5em;
  width: 50%;
  font-size: 0.5rem;
  font-family: "montserrat-alternates";
  color: #1d3557;
  padding-top: 1.5rem;
}

.cguLink {
  background-color: transparent;
  color: #1d3557;
  border-radius: 5px;
  font-size: 0.5;
}

.cguLink:visited {
  color: #1d3557;
}

.cguLink:hover {
  background-color: #f28482;
  color: white;
}

@media screen and (min-width: 761px) {
  .Footer {
    flex-direction: row;
    align-items: last baseline;
    justify-content: center;
    width: 90%;
    font-size: 0.8rem;
    margin-top: 5rem;
    gap: 1.5rem;
  }
  .cguLink {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 1280px) {
  .Footer {
    flex-direction: row;
    width: 50%;
    font-size: 1rem;

    color: #1d3557;
    gap: 1.5rem;
  }
  .cguLink {
    font-size: 1rem;
  }
}
