.SearchBar {
  margin-bottom: 1rem;
}
.Input {
  height: 3rem;
  width: 14rem;
  border-radius: 4px 4px 4px 4px;
  background-color: white;
}
.SearchButton {
  height: 2.5rem;
  background-color: transparent;
  border: none;
  font-size: xx-large;
}

@media screen and (min-width: 760px) {
  .Input {
    width: 45rem;
  }
}
