@font-face {
  font-family: "inder-regular";
  src: url("/fonts/Inder-Regular.ttf");
}

.ContainerButtons {
  display: flex;
  align-content: space-between;
  margin-top: 1rem;
}

.FilterButton {
  font-family: "inder-regular";
  font-size: 1rem;
  background-color: #1d3557;
  border: none;
  color: #f7ede2;
  border: 2px solid #1d3557;
  margin: 0.8rem;
  border-radius: 5px;
}

.FilterButton:hover {
  background-color: #f28482;
  border: none;
}
@media screen and (min-width: 761px) {
  .ContainerButtons {
    gap: 15rem;
  }
  .FilterButton {
    font-size: 1.5rem;
  }

  .FilterButton:hover {
    cursor: pointer;
  }
}
