@font-face {
  font-family: "inder-regular";
  src: url("assets/fonts/Inder-Regular.ttf");
}

* {
  box-sizing: border-box;
}

.contactTitle {
  padding: 0 1rem;
  color: #1d3557;
  font-family: "inder-regular";
  text-align: center;
}

.contactSubtitle {
  font-size: larger;
  padding: 0 1rem;
  color: #1d3557;
  font-family: "inder-regular";
  text-align: center;
}

.contactParagraph {
  width: 70%;
  margin: 0 auto;
  font-family: "montserrat-alternates";
  color: #1d3557;
}

.socialNetwork {
  font-family: "montserrat-alternates";
  color: #1d3557;
}

.reseaux {
  width: 200px;
  margin: 0 auto;
  margin-top: 1rem;
}
.facebook,
.instagram,
.twitter,
.mail {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  margin-left: 0;
}

.facebookImage,
.instagramImage {
  height: 30px;
}

.twitterImage {
  height: 30px;
  min-width: 30px;
}
.mailImage {
  height: 30px;
  max-width: 30px;
}
@media screen and (min-width: 761px) {
  .contactSubtitle {
    font-size: x-large;
  }

  .contactParagraph {
    font-size: larger;
    line-height: 2rem;
    width: 50%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .contactSubtitle {
    font-size: 1.4rem;
  }
  .contactParagraph {
    font-size: larger;
    line-height: 2rem;
    width: 50%;
    margin: 0 auto;
  }
}
