@font-face {
  font-family: "inder-regular";
  src: url("/fonts/Inder-Regular.ttf");
}

@font-face {
  font-family: "montserrat-alternates";
  src: url("/fonts/MontserratAlternates-Regular.ttf");
}
* {
  box-sizing: border-box;
}

.licenceParagraph {
  width: 70%;
  margin: 0 auto;
  font-family: "montserrat-alternates";
  color: #1d3557;
}

.mainTitle {
  padding: 0 1rem;
  color: #1d3557;
  font-family: "inder-regular";
  text-align: center;
}

@media screen and (min-width: 761px) {
  .licenceParagraph {
    font-size: larger;
    line-height: 2rem;
    width: 70%;
    margin: 0 auto;
  }

  .mainTitle {
    padding: 0 10rem;
  }
}

@media screen and (min-width: 1280px) {
  .licenceContainer {
    padding: 0 0 10% 0;
  }
  .licenceParagraph {
    padding-top: 1rem;
    font-size: larger;
    line-height: 2rem;
    width: 50%;
    margin: 0 auto;
  }
  .mainTitle {
    padding: 0 30rem;
  }
}
